<div class="container-fluid">

  <div class="row-fluid">
    <div class="span16">
      <div class="page-gutter">
        <span class="pull-left">
          <h2>
            <small>Structural Set > <%= @structural_set.title %>
            </small>
          </h2>
        </span>
        <span class="label label-alt pull-right" style="margin-top: 20px;" i>
          <%= link_to "View set", structural_set_path(@structural_set) if @structural_set.persisted? %>
        </span>
      </div>
    </div>
  </div>

  <div class="row-fluid">
    <div class="span16">
      <div class="page-gutter">
        <%#= link_to "&lt;&lt;Browse view".html_safe, sufia.generic_file_path %>
        <ul id="metadata-edit-nav" class="nav nav-tabs">
          <li class="active" id="edit_descriptive_metadata_link">
            <a href="#descriptive_metadata" data-toggle="tab">Description</a>
          </li>
          <li id="edit_permissions_link">              
            <a href="#permissions_display" data-toggle="tab">Permissions</a>
          </li>
          <li id="view_additional_metadata_link">
            <a href="#additional_metadata" data-toggle="tab">Additional metadata</a>
          </li>
        </ul>
        <div class="tab-content">
            <div id="descriptive_metadata" class="tab-pane active">
              <%= render :partial => "edit" %>
            </div>
            <div id="permissions_display" class="tab-pane">
              <%= render :partial => "permission", :locals => { :gf => @structural_set} %>
            </div>
            <div id="additional_metadata" class="tab-pane">            
              <%= render(:partial => "metadata/additional_metadata", :locals => { resource: @structural_set }) %>
            </div>
        </div>
      </div>
    </div>
  </div>

</div>