<div class="container-fluid">
  <div class="row-fluid">
  	<div class="span10">
  	  <div class="row">
  	    <div class="span12">          
          <h2><%= @structural_set.title %></h2>
          <h3>Structural Set</h3>
        </div>
      </div>
      <div class="row">
        <% if @structural_set.persisted? %>
          <div class="span3">
            <%= link_to "View set", structural_set_path(@structural_set) %>
          </div>
          <div class="span3">
            <%= render(:partial => "metadata/additional_metadata", :locals => { resource: @structural_set }) %>       
          </div>
        <% end %>
      </div>
      <div class="row">
        <div class="span12">
          <%#= link_to "&lt;&lt;Browse view".html_safe, sufia.generic_file_path %></li>
          <ul class="nav nav-tabs">
            <li class="active" id="edit_descriptive_metadata_link">
              <a href="#descriptive_metadata" data-toggle="tab">Description</a>
            </li>
            <li id="edit_permissions_link">              
              <a href="#permissions_display" data-toggle="tab">Permissions</a>
            </li>
          </ul>
          <div class="tab-content">
            <%= render :partial => "edit" %>
            <%= render :partial => "permission", :locals => { :gf => @structural_set} %>
          </div>
        </div> <!-- /.span12-->
      </div>
    </div>
  </div>
</div>