<div class="page-gutter">
  <div class="row-fluid">
    <div class="span16">
      <%#= link_to "&lt;&lt;Browse view".html_safe, sufia.generic_file_path %></li>
      <ul id="metadata-edit-nav" class="nav nav-tabs">
        <li class="active" id="edit_descriptive_metadata_link">
          <a href="#descriptive_metadata" data-toggle="tab">Description</a>
        </li>
        <li id="edit_related_metadata_link">              
          <a href="#related_metadata" data-toggle="tab">Related materials</a>
        </li>
        <li id="edit_geographic_metadata_link">              
          <a href="#geographic_metadata" data-toggle="tab">Geographical</a>
        </li>
        <li id="edit_supplementary_metadata_link">              
          <a href="#supplementary_metadata" data-toggle="tab">Supplementary</a>
        </li>
        <% unless @dataset.resource_proto? %>
          <li id="edit_set_membership_link">              
            <a href="#set_membership" data-toggle="tab">Set membership</a>
          </li>
          <li id="edit_admin_metadata_link">              
            <a href="#admin_metadata" data-toggle="tab">Admin</a>
          </li>
          <li id="view_additional_metadata_link">
             <a href="#additional_metadata" data-toggle="tab">Additional metadata</a>
          </li>        
        <% end %>
      </ul>
      <%= simple_form_for(@dataset, :html => {:class => 'form-horizontal' }) do |f| %>
      
      <div class="tab-content">         
        <div id="descriptive_metadata" class="tab-pane active">
          <%= render :partial => "edit_description", locals: {f: f} %>
        </div>
         <div id="related_metadata" class="tab-pane">            
            <%= render :partial => "metadata/edit_related_metadata", locals: {f: f, resource: @dataset} %>
        </div>
        <div id="geographic_metadata" class="tab-pane">            
            <%= render :partial => "metadata/edit_geographical_metadata", locals: {f: f, resource: @dataset} %>
        </div>
        <div id="supplementary_metadata" class="tab-pane">            
          <%= render :partial => "metadata/edit_supplementary_metadata", locals: {f: f, resource: @dataset} %>
        </div>      
        <% unless @dataset.resource_proto? %>
          <div id="set_membership" class="tab-pane">            
            <%= render(:partial => "shared/set_management",  :locals => { resource: @dataset, f: f }) %>
          </div>
          <div id="admin_metadata" class="tab-pane">            
            <%= render(:partial => "metadata/edit_administrative_metadata", :locals => { resource: @dataset, form: f }) %>
          </div>
          <div id="additional_metadata" class="tab-pane">            
            <%= render(:partial => "metadata/additional_metadata", :locals => { resource: @dataset }) %>
          </div>
        <% end %>
      </div>

      <%= render partial: "shared/resource_form_actions", locals: {f: f } %> 

      <% end %>
      
    </div> 
    <!-- <div class="span16">
      <%#= render partial: "shared/update_resource_state", locals: { object: @dataset } %>
    </div> -->
  </div>
</div>