<% resource = edit_resource %>
<% # Handy Rails collection counter %>
<% resource_counter = edit_resource_counter %>

<% object_id = @content_metadata.resource_object_id[resource_counter] %>
<% ds_id = @content_metadata.resource_ds_id[resource_counter] %>
<% file_name = @content_metadata.content_id[resource_counter] %>

<fieldset class="edit-half">
  <dl>
  <div class="info-multiple">
    <div class="left">
      <dd style="width: 20em;">
        <%= text_field_tag "content_metadata[sequence][]", @content_metadata.sequence[resource_counter] %>
        <%#= fedora_text_field(@document_fedora,"contentMetadata",[{:resource=>resource_counter},:sequence],:multiple=>false, :html_options=>{:class => "resource-sequence"}) %>
      </dd>
    </div>
    <div class="right">
      <dd style="width: 20em;"> 
        <%= text_field_tag "content_metadata[display_label][]", @content_metadata.display_label[resource_counter] %>  
        <a href="/assets/<%= object_id%>/<%= ds_id%>" style="font-size:0.8em;"><%= file_name %></a>
        <%= link_to image_tag("/images/remove.png"), file_path(object_id, :container_id=>params[:id], :index=>resource_counter), :method=>:delete, :confirm=>"Are you sure you want to delete the file?" %>
      </dd>
    </div>
  </div>
  </dl>
</fieldset>