<% resource = edit_resource %>
<% # Handy Rails collection counter %>
<% resource_counter = edit_resource_counter %>
<% # Only display  the form is the content_metadata local has been assigned... %>
<% if local_assigns[:content_metadata] %>
  <% object_id = content_metadata.resource_object_id[resource_counter] %>
  <% ds_id = content_metadata.resource_ds_id[resource_counter] %>
  <% file_name = content_metadata.content_id[resource_counter] %>
  <tr>
    <td>
      <%= text_field_tag "content_metadata[sequence][]", content_metadata.sequence[resource_counter], class: "input-small" %>
    </td>
    <td>
      <%= text_field_tag "content_metadata[resource_display_label][]", content_metadata.resource_display_label[resource_counter] %>  
    </td>
    <td>
      <a href="/assets/<%= object_id%>/<%= ds_id%>" style="font-size:0.8em;"><%= file_name %></a>
    </td>
    <td>
      <%= link_to image_tag("hyhull/remove.png"), file_path(object_id, :container_id=>params[:id], :index=>resource_counter), :method=>:delete, :confirm=>"Are you sure you want to delete the file?" %>
    </td>
  </tr>
<% end %>