<div class="tile">
  <div class="row-fluid">

      <div class="span4">
        <div class="tile tile-white tile-min-height">
          <% if can?(:create, :all) %>
            <h2>Create</h2>
            <p>
            <%= link_to "Dataset", new_dataset_path %><br/>
            <%= link_to "ETD", new_uketd_object_path %><br/>
            <%= link_to "Examination paper", exam_papers_initial_step_path %><br/>
            <%= link_to "Journal article", new_journal_article_path %><br/>
            <%= link_to "Book", new_book_path %> or Book Chapter<br/>
            <%= link_to "Generic content", generic_contents_initial_step_path %><br/>
            </p>
          <% end %>
        </div>
      </div>
      <div class="span4">
        <div class="tile tile-white tile-min-height">
          <% if can?(:tree, StructuralSet) && can?(:tree, DisplaySet) %>
            <h2>Manage</h2>
            <p>
              <%= link_to("Structural sets", structural_sets_tree_path) %><br/>
              <%= link_to("Display sets", display_sets_tree_path) %><br/>
            </p>
          <% end %>
        </div>
      </div>
      <div class="span4">
        <div class="tile tile-white tile-min-height">
          <% if can?(:create, :all) %>
            <h2>Queues</h2>
            <p>
              <%= link_to("Proto Queue", "/resources/?f%5Bis_member_of_ssim%5D%5B%5D=info:fedora/hull:protoQueue&results_view=true") << tag(:br) %>
              <%= link_to("QA Queue", "/resources/?f%5Bis_member_of_ssim%5D%5B%5D=info:fedora/hull:QAQueue&results_view=true") << tag(:br) if contentAccessTeam_user? %>
              <%= link_to("Hidden Queue", "/resources/?f%5Bis_member_of_ssim%5D%5B%5D=info:fedora/hull:hiddenQueue&results_view=true") << tag(:br) if contentAccessTeam_user? %>
              <%= link_to("Deleted Queue", "/resources/?f%5Bis_member_of_ssim%5D%5B%5D=info:fedora/hull:deletedQueue&results_view=true") << tag(:br) if admin_user? %>
            </p>
          <% end %>
        </div>
      </div>
      <div class="span4">
        <div class="tile tile-white tile-min-height">
          <% if can?(:index, Role) || can?(:index, PropertyType) %>
            <h2>Admin</h2>
            <p>
              <%= link_to("Role Management", roles_path) << tag(:br) if can?(:index, Role) %>       
              <%= link_to("Properties Management", property_types_path) << tag(:br) if can?(:index, PropertyType) %>
            </p>
          <% end %>
        </div>
      </div>
 
    </div>
</div>