<% parent_field_id = "#{resource.class.name.underscore}_parent_id" %>
<script type="text/javascript">
  var data = [<%= StructuralSet.tree.to_json.html_safe %>];

  $(function() {
    $('#set-tree').tree({
        data: data
    });


    var self_id = '<%= params["id"] %>'
    if (self_id.length > 0) {
      var node_to_remove = $('#set-tree').tree('getNodeById', self_id);
      if (typeof node_to_remove != "undefined") {
        $('#set-tree').tree('removeNode', node_to_remove);        
      }
    }

    var current_set = $('#<%= parent_field_id %>').val(); 
    var node = $('#set-tree').tree('getNodeById', current_set);
    $('#set-tree').tree('selectNode', node); 
    $('#set-name').val(node.name); 
  });

  function SelectSet() {
    var node = $('#set-tree').tree('getSelectedNode');

    if (node) {
      $('#set-name').val(node.name);
      $('#<%= parent_field_id %>').val(node.id);
      $('#set-select-modal').modal('hide');
    }
    else {
      alert("Please select a set");
    }

  }
</script>


<fieldset class="edit-standard">
  <legend>Set membership</legend>
    <!-- Button to trigger modal -->
    <p>
      <a href="#set-select-modal" role="button" data-toggle="modal">Edit set membership</a>
    </p>
    <%= form.input :Set, 
      :input_html => {
        :value => "",
        :disabled => true,
        :id => "set-name"
    } %>
    <%= form.input :parent_id, :as => :hidden,
      :input_html => {
        :value => resource.parent_id 
      } 
    %>
</fieldset>
<!-- Modal -->
<div id="set-select-modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="AdditionalMetadataLabel" aria-hidden="true">
  <div class="modal-header">
     <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3>Set selection</h3>
  </div>  
  <div class="modal-body">
    <p>Selecting a set from below will give the resource its permissions.</p>
    <div id="set-tree"></div>
  </div>
  <div class="modal-footer">
    <button class="btn" aria-hidden="true" onclick="SelectSet()">Select</button>
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
  </div>
</div>
