<% # optional params to specify the parent_field_name ie.. UketdObject."parent_id" or DisplaySet.display_set_id, "parent_id"/"display_set_id"  %> 
<% # Resource class is used to specify the source of the tree data ie. StructuralSet/DisplaySet %> 
<% title = "Set membership" if local_assigns[:title].nil? %>
<% parent_field_name = "parent_id" if local_assigns[:parent_field_name].nil? %> 
<% set_class = StructuralSet if local_assigns[:set_class].nil? %>
<% parent_field_id = "#{resource.class.name.underscore}_#{parent_field_name}" %>
<% required = false if local_assigns[:required].nil? %>

<% parent_id = eval("resource.#{parent_field_name}") %>

<% tree_div_id = "#{set_class}-set-tree" %>
<% set_name_field_id = "#{set_class}-set-name"%>
<% set_select_modal_id = "#{set_class}-set-select-modal" %>

<script type="text/javascript">
  $(function() {
    tree_div = "#<%= tree_div_id %>";
    tree_data = [<%= set_class.tree.to_json.html_safe %>];
    selected_id = "<%= parent_id %>";
    self_id = "<%= resource.id %>";
    set_name_target = "#<%= set_name_field_id %>";

    BuildTree(tree_div, tree_data, self_id, selected_id, set_name_target);

  })
</script>


<fieldset class="edit-standard">
  <legend><%= title %></legend>
    <!-- Button to trigger modal -->
    <p>
      <a href="#<%= set_select_modal_id %>" role="button" data-toggle="modal">Edit set membership</a>
    </p>
    <%= form.input :Set, 
      :input_html => {
        :value => "",
        :disabled => true,
        :id => set_name_field_id
    }, required: required %>
    <%= form.input parent_field_name.to_sym, :as => :hidden,
      :input_html => {
        :value => parent_id
      } 
    %>
</fieldset>
<!-- Modal -->
<div id="<%= set_select_modal_id %>" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="AdditionalMetadataLabel" aria-hidden="true">
  <div class="modal-header">
     <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3>Set selection</h3>
  </div>  
  <div class="modal-body">
    <% if set_class == StructuralSet %>
      <p>Selecting a set from below will give the resource its permissions.</p>
    <% end %>
    <div id="<%= tree_div_id %>"></div>
  </div>
  <div class="modal-footer">
    <button class="btn" aria-hidden="true" onclick="SelectSet('#<%= tree_div_id %>', '#<%= set_name_field_id %>', '#<%= parent_field_id %>', '#<%= set_select_modal_id %>')">Select</button>
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
  </div>
</div>
