<div class="page-gutter">
  <div class="row-spacer"></div>

  <%= render "shared/error_messages", :target => @journal_article %>

  <div class="fields">
    <h6>Author, and Contributor(s)</h6>   

    <%= render partial: "metadata/name_affiliation_edit", :locals => { object: @journal_article, name_type: "person", required: true } %> 

    <hr/>

    <h6>Publication</h6>

    <%= f.input :title, label: "Article title", 
      :placeholder => "Please enter article title...",
      :input_html => { :class => 'input-block-level' } %>

    <%= render partial: "metadata/multi_field_edit", 
      locals: { object: @journal_article, field: "subject_topic", 
      required: true } %>

    <%= f.hidden_field :publisher, :value => "The University of Hull",
      :input_html => { :class => 'input-block-level' } %>

    <hr/>

    <h6>REF</h6>

    <%#= f.input :journal_publication_date, label: "Publication date" %>
    <%= f.input :journal_date_other, label: "Date accepted",
      placeholder: "Please enter date YYYY-MM-DD..." %>

    <hr/>
    
    <h6>Journal</h6>
    
    <div class="fields">     
      <%= f.input :journal_title, label: "Journal name",
        :placeholder => "Please enter journal name...", 
        :input_html => { :class => 'input-block-level' } %>
    </div>

  </div>
</div>