<div class="page-gutter">
  <div class="row-spacer"></div>

  <!-- <legend><h2>Journal metadata</h2></legend> -->
  <div class="row-fluid">
    <h6>Journal</h6>
    <div class="fields">     
      <%= f.input :journal_title,
        label: "Journal name", 
        :input_html => { :class => 'input-block-level' },
        presence: true
      %>
      <%= f.input :journal_publication_date, label: "Publication date" %>
      <%= f.input :journal_print_issn, label: "ISSN (Print)" %>
      <%= f.input :journal_electronic_issn, label: "ISSN (Electronic)" %>
      <%= f.input :journal_publisher, label: "Publisher" %>
    </div>
    <hr/>
    <h6>Article</h6>
    <div class="fields">
      <%= f.input :journal_article_doi, label: "DOI" %>
      <% unless @journal_article.journal_article_doi.nil? %>
        <div class="control-group">
          <% publication_link = "#{DOI_RESOLVER_SERVICE_URL}#{@journal_article.journal_article_doi.strip}" %>
          <div class="controls">
            <%= link_to publication_link, publication_link, :target => "_blank" %>
          </div>
        </div>
      <% end %>
      <%= f.input :journal_volume, label: "Volume" %>
      <%= f.input :journal_issue, label: "Issue" %>
      <%= f.input :journal_start_page, label: "Page start" %>
      <%= f.input :journal_end_page, label: "Page end" %>
      <%= f.input :journal_article_restriction, label: "Restriction" %>
    </div>
    <h6>Web links</h6>
    <div class="fields">
        <%= render :partial => "journal_web_edit", :locals => { journal_article: @journal_article } %> 
        <%= f.input :journal_publications_note, as: :text , label: "Notes", :input_html => { :class => 'input-block-level', :rows => '5' }  %>  
    </div>
  </div>

</div>