<div class="page-gutter">
  <div class="row-spacer"></div>

  <%= render "shared/error_messages", :target => @journal_article %>

  <div class="fields">
    <div class="clearfix">
      <div class="pull-left">
        <h6>Author, and Contributor(s)</h6>
      </div>
      <div class="pull-left">
        <button type="button" class="btn btn-link" data-toggle="collapse" 
                data-target="#nameInfo" style="padding: 0.65em 0.5em;"
                title="Name entry information">
          <i class="icon-black icon-info-sign"></i>
        </button>
      </div>
    </div>

    <div id="nameInfo" class="collapse">
      <div class="flash-message-container alert-notice" style="margin-bottom: 1em;">
        <p>Please enter names of all authors in the same order as on the paper
           in the following format:
        </p>
        <p>Family name, Given name Initial(s)</p>
        <p><em>Please use punctuation</em></p>
        <p>Additional authors can be added using the 
          <i class="icon-white icon-plus-sign"></i> icon
        </p>
      </div>
    </div>

    <%= render partial: "metadata/name_affiliation_edit", :locals => { object: @journal_article, name_type: "person", required: true } %> 

    <hr/>

    <div class="fields">
    <div class="clearfix">
      <div class="pull-left">
        <h6>Publication</h6>
      </div>
      <div class="pull-left">
        <button type="button" class="btn btn-link" data-toggle="collapse" 
                data-target="#publicationInfo" style="padding: 0.65em 0.5em;"
                title="Publication entry information">
          <i class="icon-black icon-info-sign"></i>
        </button>
      </div>
    </div>

    <div id="publicationInfo" class="collapse">
      <div class="flash-message-container alert-notice" style="margin-bottom: 1em;">
        <p>Adding keywords makes it easier to find an article.</p>
        <p>Additional keywords can be added using the 
          <i class="icon-white icon-plus-sign"></i> icon
        </p>
      </div>
    </div>

    <%= f.input :title, label: "Article title", 
      :placeholder => "Please enter article title, e.g. The History of the ceramic industry in Stoke-on-Trent from 1918 to 1973",
      :input_html => { :class => 'input-block-level' } %>

    <%= render partial: "metadata/multi_field_edit", 
      locals: { object: @journal_article, field: "subject_topic" } %>

    <%= f.hidden_field :publisher, :value => "The University of Hull",
      :input_html => { :class => 'input-block-level' } %>

    <hr/>

    <div class="clearfix">
      <div class="pull-left">
        <h6>Journal</h6>
      </div>
      <div class="pull-left">
        <button type="button" class="btn btn-link" data-toggle="collapse" 
                data-target="#journalInfo" style="padding: 0.65em 0.5em;"
                title="Journal entry information">
          <i class="icon-black icon-info-sign"></i>
        </button>
      </div>
    </div>

    <div id="journalInfo" class="collapse">
      <div class="flash-message-container alert-notice" style="margin-bottom: 1em;">
        <p><strong>ISSN</strong></p>
        <p>The ISSN is the international standard serial number assigned to a
          journal as a unique identifier. It can usually be found on the 
          journal website and helps distinguish between journals</p>
        </p>
      </div>
    </div>
    
    <div class="fields">     
      <%= f.input :journal_title, label: "Journal title",
        :placeholder => "Please enter journal name, e.g. Ceramica...", 
        :input_html => { :class => 'input-block-level' },
        required: true %>
    </div>

    <%= f.input :journal_electronic_issn, label: "ISSN (Electronic)",
      placeholder: "Please enter ISSN, e.g. 0000-XXXX, if known",
      :input_html => { :class => 'span6' } %>

    <hr/>

    <h6>REF</h6>

    <%= f.input :journal_date_other, label: "Date accepted by journal",
      placeholder: "Please enter date YYYY-MM-DD...", required: true %>

    <!-- this field is used to toggle depositor note on/off,
      see claim-exception.js -->
    <div  class="control-group">
      <%= label_tag "ClaimExceptionLabel", "Do you wish to claim an exception?", class: "control-label" %>
      <div class="controls">
        <%= select_tag "ClaimExceptionSel", 
          options_for_select(["No", "Yes"]), 
          :name => "ClaimExceptionSel"
        %>
        <p>
          Please see the
          <%= link_to 'HEFCE REF Open Access Policy',
            'http://www.hefce.ac.uk/rsrch/oa/Policy/',
            target: "_blank" %> 
          for details
        </p>
      </div>
    </div>

    <!-- this field is toggled on/off by ClaimExceptionSel,
      see claim-exception.js -->
    <div id="ClaimExceptionControl">
      <%= f.input :depositor_note, label: "Exception claim" , 
        as: :text, placeholder: "Please describe your claim...",
        input_html: { class: "input-block-level", rows: "5" } %>
    </div>

  </div>
</div>

<script>
  $(function() {
    $( "#journal_article_journal_date_other" ).datepicker({
      dateFormat: 'yy-mm-dd',
      changeYear: true
    });
  });
</script>
