<div class="page-gutter">
  <div class="row-spacer"></div>

  <% render "shared/error_messages", target: @journal_article %>

  <div class="fields">
    <h6>Dates</h6>

    <%= f.input :journal_date_other, label: "Date accepted",
      placeholder: "Please enter date YYYY-MM-DD..." %>

    <hr/>

    <h6>Exceptions</h6>

    <%
      ref_technical_options = Property.select_by_property_type_name(
        "REF-EXCEPTION-TECHNICAL", false
      ).map(&:name)
      ref_deposit_options = Property.select_by_property_type_name(
        "REF-EXCEPTION-DEPOSIT", false
      ).map(&:name)
      ref_access_options = Property.select_by_property_type_name(
        "REF-EXCEPTION-ACCESS", false
      ).map(&:name)

      grouped_options = [
        ["Technical", ref_technical_options], 
        ["Deposit", ref_deposit_options],
        ["Access", ref_access_options],
        ["————————————————————————",
        ["Other"]]
      ]
    %>

    <%= select_tag "journal_article_ref_exception", 
      grouped_options_for_select(grouped_options),
      :name => "journal_article[ref_exception]", 
      :prompt => "Please select exception...",
      :class => ".toggleOther" %>

    <%= f.hidden_field "ref_exception_technical", value: "false" %>
    <%= f.hidden_field "ref_exception_deposit", value: "false" %>
    <%= f.hidden_field "ref_exception_access", value: "false" %>
    <%= f.hidden_field "ref_exception_other", value: "false" %>

    <%#= f.input :ref_exception, label: "Other REF Exception",
      placeholder: "Please enter exception..."%>

  </div>
