<div class="row">
  <div class="span12">
    <%#= link_to "&lt;&lt;Browse view".html_safe, sufia.generic_file_path %></li>
    <ul class="nav nav-tabs">
      <li class="active" id="edit_descriptive_metadata_link">
        <a href="#descriptive_metadata" data-toggle="tab">Description</a>
      </li>
      <li id="edit_journal_metadata_link">              
        <a href="#journal_metadata" data-toggle="tab">Journal</a>
      </li>
    </ul>

    <%= simple_form_for(@journal_article, :html => {:class => 'form-horizontal' }) do |f| %>
    <div class="tab-content">         
      <div id="descriptive_metadata" class="tab-pane active">
        <%= render :partial => "edit_description", locals: {f: f} %>
      </div>
      <div id="journal_metadata" class="tab-pane">            
          <%= render :partial => "edit_journal", locals: {f: f} %>
      </div>
    </div>
     <%= f.submit "Save" %>
    <% end %>
    <% if @journal_article.persisted? %>
     <%= render partial: "shared/update_resource_state", locals: { object: @journal_article } %>
    <% end %>
  </div> <!-- /.span12-->
</div>