<div class="page-gutter">
  <div class="row-spacer"></div>

  <%= render "shared/error_messages", :target => @journal_article %>

  <div class="fields">
    <h6>Author, and Contributor(s)</h6>   

    <%= render partial: "metadata/name_affiliation_edit", :locals => { object: @journal_article, name_type: "person", required: true } %> 

    <hr/>

    <h6>Publication</h6>

    <%= f.input :title, label: "Article title", 
      :placeholder => "Please enter article title...",
      :input_html => { :class => 'input-block-level' } %>

    <%= render partial: "metadata/multi_field_edit", 
      locals: { object: @journal_article, field: "subject_topic" } %>

    <%= f.hidden_field :publisher, :value => "The University of Hull",
      :input_html => { :class => 'input-block-level' } %>

    <hr/>

    <h6>Journal</h6>
    
    <div class="fields">     
      <%= f.input :journal_title, label: "Journal title",
        :placeholder => "Please enter journal name...", 
        :input_html => { :class => 'input-block-level' },
        required: true %>
    </div>

    <hr/>

    <h6>REF</h6>

    <%= f.input :journal_date_other, label: "Date accepted",
      placeholder: "Please enter date YYYY-MM-DD...", required: true %>

    <!-- this field is used to toggle depositor note on/off,
      see claim-exception.js -->
    <div  class="control-group">
      <%= label_tag "ClaimExceptionLabel", "Do you wish to claim an exception?", class: "control-label" %>
      <div class="controls">
        <%= select_tag "ClaimExceptionSel", 
          options_for_select(["No", "Yes"]), 
          :name => "ClaimExceptionSel"
        %>
        <p>
          Please see the
          <%= link_to 'HEFCE REF Open Access Policy',
            'http://www.hefce.ac.uk/rsrch/oa/Policy/',
            target: "_blank" %> 
          for details
        </p>
      </div>
    </div>

    <!-- this field is toggled on/off by ClaimExceptionSel,
      see claim-exception.js -->
    <div id="ClaimExceptionControl">
      <%= f.input :depositor_note, label: "Exception claim" , 
        as: :text, placeholder: "Please describe your claim...",
        input_html: { class: "input-block-level", rows: "5" } %>
    </div>

  </div>
</div>
