<div class="page-gutter">
  <div class="row-spacer"></div>

  <% render "shared/error_messages", target: @journal_article %>

  <div class="fields">

    <h6>Free to read</h6>

    <%= f.input :free_to_read_start_date, label: "Start date",
      placeholder: "Please enter date YYYY-MM-DD..." %>
    
    <%= f.input :free_to_read_end_date, label: "End date",
      placeholder: "Please enter date YYYY-MM-DD..." %>

    <hr/>

    <h6>Licence</h6>

    <%= f.input :licence_url, label: "Licence URL", 
      :input_html => { :class => 'span12' }, placeholder: "Please enter..." %>
    
    <%= f.input :licence_ref_start_date, label: "Start date", 
      placeholder: "Please enter date YYYY-MM-DD..." %>

    <hr/>

    <h6>Dates</h6>

    <%= f.input :journal_date_other, label: "Date accepted",
      placeholder: "Please enter date YYYY-MM-DD..." %>

    <div class="control-group">
      <%= label_tag 'journal_article_apc', 'APC', class: 'control-label' %>
      <div class="controls">
        <%= select_tag "journal_article_apc", 
          options_for_select(["Paid", "Partially waived", "Fully waived", 
            "Not charged", "Not required", "Unknown"]), 
          :name => "journal_article[apc]", 
          :prompt => "Please select..." 
        %>
      </div>
    </div>

    <hr/>

    <h6>Project</h6>

      <%= f.input :project_id, label: "Project ID", 
        placeholder: "Please enter..." %>

      <%= f.input :project_funder_id, label: "Funder ID", 
        placeholder: "Please enter..." %>

      <%= f.input :project_funder_name, label: "Funder Name", 
        placeholder: "Please enter..." %>

    <hr/>

    <h6>Exceptions</h6>

    <%
      ref_technical_options = Property.select_by_property_type_name(
        "REF-EXCEPTION-TECHNICAL", false
      ).map(&:name)
      ref_deposit_options = Property.select_by_property_type_name(
        "REF-EXCEPTION-DEPOSIT", false
      ).map(&:name)
      ref_access_options = Property.select_by_property_type_name(
        "REF-EXCEPTION-ACCESS", false
      ).map(&:name)

      grouped_options = [
        ["———————————————————————————————————————————",
        ["None"]],
        ["Technical", ref_technical_options], 
        ["Deposit", ref_deposit_options],
        ["Access", ref_access_options],
        ["———————————————————————————————————————————",
        ["Other"]]
      ]
    %>

    <%= select_tag "journal_article_ref_exception", 
      grouped_options_for_select(grouped_options),
      :name => "journal_article[ref_exception]", 
      :prompt => "Please select exception...",
      :class => "toggleOther" %>

    <%= f.hidden_field "ref_exception_technical", value: "false" %>
    <%= f.hidden_field "ref_exception_deposit", value: "false" %>
    <%= f.hidden_field "ref_exception_access", value: "false" %>
    <%= f.hidden_field "ref_exception_other",
      value: "false", class: "span8", 
      placeholder: "Please enter exception..."
    %>
  </div>
