<div class="container-fluid">

  <div class="workflow-wrapper <%= resource_workflow_class(@journal_article) %>">

    <div class="wrapper-header">
      <div class="row-fluid">
        <div class="span16">

        <% if staff_user? && !contentAccessTeam_user? && !admin_user? %>
          <%= render partial: "shared/update_staff_resource_state", locals: { object: @journal_article } %>
        <% else %>
          <%= render partial: "shared/update_resource_state", locals: { object: @journal_article } %>
        <% end %>

        </div>
      </div>
    </div>
  
      <div class="row-fluid">
        <div class="page-gutter">
          <div class="span16">          
            <span class="pull-left">
              <h2>
                <small><%= @journal_article.title %>
                </small>
              </h2>
            </span>
            <span class="label label-alt pull-right" style="margin-top: 20px;" i>
              <%= show_resource_link(@journal_article.id) if @journal_article.persisted?  %></span>
            </span>
          </div>
        </div>
      </div>

      <%= render partial: "shared/resource_content_edit", locals: { resource: @journal_article } %>
      <%= render partial: "edit" %>

  </div>
</div>