<div class="page-gutter">
<div class="row-spacer"></div>
  <%= render "shared/error_messages", :target => @generic_content %>
  <!-- <legend><h2>Edit Metadata</h2></legend> -->
  <div class="fields">
    <h6>Author, and Contributor(s)</h6>    

    <%= render(:partial => "metadata/name_edit", :locals => { object: @generic_content, name_type: "person" }) %>

    <%= render(:partial => "metadata/name_edit", :locals => { object: @generic_content, name_type: "organisation" }) %>

    <hr/>

    <h6>Resource</h6>  

    <%= f.input :title, :input_html => { :class => 'input-block-level' } %>

    <%= render partial: "metadata/multi_field_edit", locals: { object: @generic_content, field: "subject_topic", required: true } %> 
    
    <%= f.input :description, as: :text, :input_html => { :class => 'input-block-level', :rows => '12' } %>

    <% # class datepicker provides JQuery based date picker - not using at present %>
    <%= f.input :date_valid %>

    <%= f.input :publisher %>

    <hr/>

    <h6>Rights statement</h6>  

    <%= render partial: "metadata/multi_field_edit", locals: { object: @generic_content, field: "rights" } %> 

  </div>
</div>