<%= render "shared/error_messages", :target => @generic_content %>
<legend><h2>Edit Metadata</h2></legend>
<div class="fields">
  <h3>Author, and Contributor(s)</h3>    

  <%= render(:partial => "metadata/name_edit", :locals => { object: @generic_content, name_type: "person" }) %>

  <%= render(:partial => "metadata/name_edit", :locals => { object: @generic_content, name_type: "organisation" }) %>

  <h3>Resource</h3>  

  <%= f.input :title %>

  <%= render partial: "metadata/multi_field_edit", locals: { object: @generic_content, field: "subject_topic", required: true } %> 
  
  <%= f.input :description, as: :text %>

  <% # class datepicker provides JQuery based date picker - not using at present %>
  <%= f.input :date_valid %>

  <%= f.input :publisher %>

  <h3>Rights statement</h3>  

  <%= render partial: "metadata/multi_field_edit", locals: { object: @generic_content, field: "rights" } %> 

</div>