<%= render "shared/error_messages", :target => @generic_content %>
<legend>Edit Metadata</legend>
<div class="fields">
  <h4>Author, and Contributor(s)</h4>    

  <%= render(:partial => "metadata/name_edit", :locals => { object: @generic_content, name_type: "person" }) %>

  <%= render(:partial => "metadata/name_edit", :locals => { object: @generic_content, name_type: "organisation" }) %>

  <h4>Resource</h4>  

  <%= f.input :title %>

  <%= render partial: "metadata/multi_field_edit", locals: { object: @generic_content, field: "subject_topic" } %> 
  
  <%= f.input :description, as: :text %>

  <% # class datepicker provides JQuery based date picker - not using at present %>
  <%= f.input :date_valid %>

  <%= f.input :publisher %>

  <h4>Rights statement</h4>  

  <%= render partial: "metadata/multi_field_edit", locals: { object: @generic_content, field: "rights" } %> 

  <%#= render partial: "metadata/copyright_statement_edit", locals: { resource: @generic_content, form: f } %>
 
  <% unless @generic_content.resource_proto? %>
    <%= render(:partial => "shared/set_select",  :locals => { resource: @generic_content, form: f }) %>
  <% end %>

  <% # Do not display the adminstrative metadata when resource is in the proto queue %>
  <% unless @generic_content.resource_proto? %>
    <%= render(:partial => "metadata/edit_administrative_metadata", :locals => { resource: @generic_content, form: f }) %>
  <% end %>
</div>