<div class="container-fluid">
  <div class="workflow-wrapper <%= resource_workflow_class(@generic_content) %>">

      <div class="wrapper-header">
        <div class="row-fluid">
          <div class="span16" id="workflow-message">
            <%= render partial: "shared/update_resource_state", locals: { object: @generic_content } %>
          </div>
        </div>
      </div>
      <div class="row-fluid">
        <div class="page-gutter">
          <div class="span16">
            <span class="pull-left">
              <h2>
                <small><%= @generic_content.title %>
                </small>
              </h2>
            </span>
            <span class="label label-alt pull-right" style="margin-top: 20px;" i>
              <%= show_resource_link(@generic_content.id) if @generic_content.persisted?  %>
            </span>
          </div>
        </div>
      </div>
      <%= render partial: "shared/resource_content_edit", locals: { resource: @generic_content } %>
      <%= render partial: "edit" %>
    </div>
</div>