<%= render "shared/error_messages", :target => @uketd_object %>
<%= simple_form_for(@uketd_object, :html => {:class => 'form-horizontal' }) do |f| %>
  	<legend>Edit Metadata</legend>
  	<div class="fields">
  	  <h4>Author, and Contributor(s)</h4>  	
      <%= render :partial => "name_edit", :locals => { object: @uketd_object, name_type: "person" } %>      
  	  <h4>Publication</h4>
   
      <%= f.input :title %>
   
      <%= render partial: "metadata/copyright_statement_edit", locals: { resource: @uketd_object, form: f } %>

      <%= f.input :abstract, as: :text %>

      <%= render partial: "metadata/multi_field_edit", locals: { object: @uketd_object, field: "subject_topic" } %>

      <%= render partial: "metadata/language_edit", locals: { resource: @uketd_object, form: f } %>
   
     <h4>Author, and Contributor(s)</h4>   
   
     <%= render :partial => "name_edit", :locals => { object: @uketd_object, name_type: "organisation" } %>
     <%= f.input :publisher %>
     <% # class datepicker provides JQuery based date picker - not using at present %>
     <%= f.input :date_issued %>

     <h4>Identifiers</h4>
   
     <%= render partial: "metadata/multi_field_edit", locals: { object: @uketd_object, field: "grant_number" } %>
     <%= f.input :ethos_identifier %>
    
     <h4>Qualification</h4>
   
     <%= f.input :qualification_level, collection: @uketd_object.qualification_level_terms %>
     <%= f.input :qualification_name, collection: @uketd_object.qualification_name_terms %>
    
     <h4>Dissertations</h4>
   
     <%= f.input :dissertation_category, collection: @uketd_object.dissertation_category_terms %>

     <%= render(:partial => "shared/edit_administrative_metadata", :locals => { resource: @uketd_object, form: f }) %>

  <%= render(:partial => "shared/set_select") %>
     <%= f.submit "Save" %>
    </div>    
<% end %>

<% if @uketd_object.persisted? %>
  <%= render partial: "shared/update_resource_state", locals: { object: @uketd_object } %>
<% end %>



