<div class="row">
  <div class="span12">
    <%#= link_to "&lt;&lt;Browse view".html_safe, sufia.generic_file_path %></li>
    <ul class="nav nav-tabs">
      <li class="active" id="edit_descriptive_metadata_link">
        <a href="#descriptive_metadata" data-toggle="tab">Description</a>
      </li>
       <li id="edit_qualifications_metadata_link">
        <a href="#qualifications_metadata" data-toggle="tab">Qualifications</a>
      </li>
      <li id="edit_identifiers_metadata_link">
        <a href="#identifiers_metadata" data-toggle="tab">Identifiers</a>
      </li>
      <% unless @uketd_object.resource_proto? %>
        <li id="edit_set_membership_link">              
          <a href="#set_membership" data-toggle="tab">Set membership</a>
        </li>
        <li id="edit_admin_metadata_link">              
          <a href="#admin_metadata" data-toggle="tab">Admin</a>
        </li>
      <% end %>
    </ul>
    <%= simple_form_for(@uketd_object, :html => {:class => 'form-horizontal' }) do |f| %>
      <div class="tab-content">         
        <div id="descriptive_metadata" class="tab-pane active">
          <%= render :partial => "edit_description", locals: {f: f} %>
        </div>
        <div id="qualifications_metadata" class="tab-pane">
          <%= render :partial => "edit_qualifications", locals: {f: f} %>
        </div>
        <div id="identifiers_metadata" class="tab-pane">
          <%= render :partial => "edit_identifiers", locals: {f: f} %>
        </div>
        <% unless @uketd_object.resource_proto? %>
          <div id="set_membership" class="tab-pane">            
            <%= render(:partial => "shared/set_management",  :locals => { resource: @uketd_object, f: f }) %>
          </div>
          <div id="admin_metadata" class="tab-pane">            
            <%= render(:partial => "metadata/edit_administrative_metadata", :locals => { resource: @uketd_object, form: f }) %>
          </div>
        <% end %>
      </div>
      <%= render partial: "shared/resource_form_actions", locals: {f: f } %> 
    <% end %>
    <%= render partial: "shared/update_resource_state", locals: { object: @uketd_object } %>
  </div> <!-- /.span12-->
</div>
















