 <div id="multi-field-edit">
  <div id="field-list">
    <% name_type = name_type.nil? ? "person" : name_type %>

    <% # Variables for storing the ids for the field tags ie.. person_name/person_role_text/organisation_name/etc %>
    <% name_field_id = "#{name_type}_name" %>
    <% role_text_field_id = "#{name_type}_role_text" %>    

    <% # Get names and role_texts based upon the evaluated name_type %>
    <% names = eval("object.#{name_type}_name") %>
    <% role_texts = eval("object.#{name_type}_role_text") %>
    <% object_name = object.class.to_s.underscore %>

    <%= label_tag name_field_id.to_sym %><br />
    <% if names.empty? %>
      <div id="fields">      
        <%= text_field_tag "#{object_name}[#{name_field_id}][]", "" %>
        <%= select_tag "#{object_name}[#{role_text_field_id}][]", options_for_select([[""]]  + eval("object.#{name_type}_role_terms") ) %> 
      </div>
    <% else %>
      <% names.each_with_index do |name, i| %>
        <div id="fields" style="display:block;clear:both;">
          <span class="field" style="float:left">
            <%= text_field_tag "#{object_name}[#{name_field_id}][]", name %>
          </span>
          <span class="field" style="float:left">
            <%= select_tag "#{object_name}[#{role_text_field_id}][]", options_for_select([[""]]  + eval("object.#{name_type}_role_terms"), role_texts[i] ) %>         
          </span>
          <% unless i.zero? %>
            <span class="icon-minus-sign remove-field"></span><br />
          <% end %>
        </div>
      <% end %> 
    <% end %>
  </div>  
  <br /><br />
  <div class="add-field icon-plus-sign"></div>
</div>