<!-- Main hero unit for a primary marketing message or call to action -->
<div class="row-fluid hero-tile picture-tile-hero">
  <%= render :partial => 'shared/home_search_tile' %>
</div>

<%# if can?(:create, JournalArticle) %>
<% if staff_user? && !contentAccessTeam_user? && !admin_user? %>
  <div class="row-fluid tile-hydra-light-blue">
    <%= render :partial => 'shared/create_journal_article_tile' %>
  </div>
<% end %>

<% if can?(:create, :all) %>
  <div class="row-fluid tile-hydra-blue">
    <!-- needs work -->
    <%= render :partial => 'shared/home_content_management_tile' %>
</div>
<% end %>

<div class="row-fluid tile-light-grey">
  <%= render :partial => 'shared/home_browse_tile' %>
  <%= render :partial => 'shared/home_collections_tile' %>
</div>

<div class="row-fluid tile-white">
  <%= render :partial => 'shared/home_popular_searches_tile' %>
</div>

<div class="row-fluid tile-light-grey">
  <%= render :partial => 'shared/home_university_content_tile' %>
  <%= render :partial => 'shared/home_help_tile' %>
</div>
   
<div class="row-fluid">
  <%#= render :partial => 'shared/home_twitter_tile' %>
</div>
    
<div class="row-fluid">
  <%#= render :partial => 'shared/home_twitter_tile' %>
</div>
