<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>
<p>Welcome to Hull's digital repository, Hydra</p>
<div class="home_text">
  <h2>Welcome to Hull's digital repository, Hydra</h2>

  <p>This is a placeholder for ease of access for different sections of hyhull... This will change.<p>  

  <%= link_to "Collections", "/resources/?f[is_member_of_ssim][]=info:fedora/hull:rootDisplaySet&results_view=true" %>

  <% if can?(:create, :all) %>
    <h3>Create resources</h3>
    <ul>
    <li><%= link_to "Create Dataset", new_dataset_path %></li>
    <li><%= link_to "Create ETD", new_uketd_object_path %></li>
    <li><%= link_to "Create Examination paper", exam_papers_initial_step_path %></li>
    <li><%= link_to "Create Journal article", new_journal_article_path %></li>
    <li><%= link_to "Create Generic content", generic_contents_initial_step_path %></li>
    </ul>
  <% end %>


  <% if can?(:tree, StructuralSet) && can?(:tree, DisplaySet) %>
    <h3>Management links</h3>
    <h4>Set management</h4>
    <ul>
      <li><%= link_to("Structural sets", structural_sets_tree_path) %></li>
      <li><%= link_to("Display sets", display_sets_tree_path) %></li>
    </ul>
  <% end %>


  <% if can?(:create, :all) %>
    <h3>Resource queues</h3>
    <ul>
      <li><%= link_to("Proto Queue", "resources/?f%5Bis_member_of_ssim%5D%5B%5D=info:fedora/hull:protoQueue&results_view=true")%></li>
      <li><%= link_to("QA Queue", "resources/?f%5Bis_member_of_ssim%5D%5B%5D=info:fedora/hull:QAQueue&results_view=true") %></li>
      <li><%= link_to("Hidden Queue", "resources/?f%5Bis_member_of_ssim%5D%5B%5D=info:fedora/hull:hiddenQueue&results_view=true") %></li>
      <li><%= link_to("Deleted Queue", "resources/?f%5Bis_member_of_ssim%5D%5B%5D=info:fedora/hull:deletedQueue&results_view=true") %></li>
    </ul>
  <% end %>

  <% if can?(:index, Role) %>
    <h3>Adminstration</h3>
    <ul>
      <li><%= link_to "Role Management", roles_path %></li>
    </ul>
  <% end %>

</div>
