<div class="row">
  <div class="span12">
    <%#= link_to "&lt;&lt;Browse view".html_safe, sufia.generic_file_path %></li>
    <ul class="nav nav-tabs">
      <li class="active" id="edit_descriptive_metadata_link">
        <a href="#descriptive_metadata" data-toggle="tab">Description</a>
      </li>
      <% unless @exam_paper.resource_proto? %>
        <li id="edit_set_membership_link">              
          <a href="#set_membership" data-toggle="tab">Set membership</a>
        </li>
        <li id="edit_admin_metadata_link">              
          <a href="#admin_metadata" data-toggle="tab">Admin</a>
        </li>
      <% end %>
    </ul>
    <%= simple_form_for(@exam_paper, :html => {:class => 'form-horizontal' }) do |f| %>
    <div class="tab-content">         
      <div id="descriptive_metadata" class="tab-pane active">
        <%= render :partial => "edit_description", locals: {f: f} %>
      </div>
      <% unless @exam_paper.resource_proto? %>
        <div id="set_membership" class="tab-pane">            
          <%= render(:partial => "shared/set_management",  :locals => { resource: @exam_paper, f: f }) %>
        </div>
        <div id="admin_metadata" class="tab-pane">            
          <%= render(:partial => "metadata/edit_administrative_metadata", :locals => { resource: @exam_paper, form: f }) %>
        </div>
      <% end %>
    </div>
     <%= f.submit "Save" %>
    <% end %>
    <% if @exam_paper.persisted? %>
     <%= render partial: "shared/update_resource_state", locals: { object: @exam_paper } %>
    <% end %>
  </div> <!-- /.span12-->
</div>

