<div class="container-fluid">

  <div class="workflow-wrapper">

  <!-- css classes to add to wrapper-header div based on workflow status
  flash-message-container alert-error - deleted
  flash-message-container alert-neutral - hidden
  flash-message-container alert-success - published -->

    <div class="wrapper-header">
      <div class="row-fluid">
        <div class="span16">
          <%= render partial: "shared/update_resource_state", locals: { object: @exam_paper } %>
        </div>
      </div>
    </div>

    <div class="row-fluid">
      <div class="page-gutter">
        <div class="span16">        
          <h2><small><%= @exam_paper.title %>
          <span class="vertical-divider hidden-phone"></span>
          <span class="label label-alt">
          <%= show_resource_link(@exam_paper.id)  if @exam_paper.persisted?  %></span>
          </small></h2>
        </div>
      </div>
    </div>
    <%= render partial: "shared/resource_content_edit", locals: { resource: @exam_paper } %>
    <%= render partial: "edit" %>
  </div>
</div>