<div class="container-fluid">

  <div class="workflow-wrapper <%= resource_workflow_class(@exam_paper) %>">

    <div class="wrapper-header">
      <div class="row-fluid">
        <div class="span16">
          <%= render partial: "shared/update_resource_state", locals: { object: @exam_paper } %>
        </div>
      </div>
    </div>

    <div class="row-fluid">
      <div class="page-gutter">
        <div class="span16">  
          <span class="pull-left">
            <h2>
              <small><%= @exam_paper.title %>
              </small>
            </h2>
          </span>
          <span class="label label-alt pull-right" style="margin-top: 20px;" i>
            <%= show_resource_link(@exam_paper.id) if @exam_paper.persisted?  %>
          </span>
        </div>
      </div>
    </div>
    <%= render partial: "shared/resource_content_edit", locals: { resource: @exam_paper } %>
    <%= render partial: "edit" %>
  </div>
</div>