<% # container for a single doc -%>

<!-- To change workflow status inject the class workflow-hidden or workflow-deleted etc into the document workflow-wrapper div 
eg. <div class="document workflow-wrapper workflow-hidden"> -->
<div class="document <%= document_resource_state_class document %> <%= render_document_class document %>">
  <%= resource_state_wrapper_header document %>
  <div class="row-spacer"></div>
  <div class="page-gutter row">
    <div class="span3">
      <%= display_resource_thumbnail(document) %>
    </div>

    <div class="span13">

      <%= render :partial => 'document_header', :locals => { :document => document, :document_counter => document_counter } %>
        <%= render_document_partial document, :thumbnail, :document_counter => document_counter %>

        <% # main container for doc partial view -%>
        <%= render_document_partial document, :index, :document_counter => document_counter %>
    </div>
  </div>
  <div class="row">
    <div class="span16">
      <div class="resource-status">
        <%= render partial: "shared/resource_status_panel", locals: { document: document } %>
      </div>
    </div>
  </div>
</div>