<div class="home_text">
  <h2>Welcome to Hull's digital repository, Hydra</h2>

  <p>This is a placeholder for ease of access for different sections of hyhull... This will change.<p>  

  <h3>Create resources</h3>
  <ul>
  <li><%= link_to "Create ETD", new_uketd_object_path %></li>
  <li><%= link_to "Create Examination paper", exam_papers_initial_step_path %></li>
  <li><%= link_to "Create Journal article", new_journal_article_path %></li>
  <li><%= link_to "Create Generic content", generic_contents_initial_step_path %></li>
  </ul>

  <h3>Management links</h3>
  <%= link_to "Set management", structural_sets_path %>

  <h3>Resource queues</h3>
  <ul>
    <li>Proto Queue</li>
    <li>QA Queue</li>
    <li>Hidden Queue</li>
  </ul>
</div>