<div class="page-gutter">

<h6>Resource metadata</h6>
<dl class="document-metadata dl-horizontal dl-invert">
  <dt>Identifier</dt>
  <dd>
    <%= resource.id %>
  </dd>
  <dt>Resource type</dt>
  <dd> 
    <%= resource.type_of_resource if resource.respond_to? :type_of_resource  %>
  </dd>
  <dt>Genre</dt>
  <dd> 
    <%= resource.genre if resource.respond_to? :genre %>
  </dd>
  <dt>Internet media type</dt>
  <dd>
    <%= resource.mime_type if resource.respond_to? :mime_type %>
  </dd>
  <dt>Digital origin</dt>
  <dd>
    <%= resource.digital_origin if resource.respond_to? :digital_origin%>
  </dd>
  <dt>Splash URL</dt>
  <dd>
    <%= resource.primary_display_url if resource.respond_to? :primary_display_url%>
  </dd>
  <dt>Primary download URL</dt>
  <dd>
    <%= resource.raw_object_url if resource.respond_to? :raw_object_url %>
  </dd>
</dl>
<h6>Depositor</h6>
<dl class="document-metadata dl-horizontal dl-invert">
  <dt>User id</dt>
  <dd>
    <%= resource.depositor if resource.respond_to? :depositor%>
  </dd>
    <dt>E-mail address</dt>
  <dd>
    <%= resource.depositor_email if resource.respond_to? :depositor_email %>
  </dd>
</dl>

</div>