 <div id="multi-field-edit" style="margin-bottom: 1em">
  <div id="field-list">
    <% name_type = name_type.nil? ? "person" : name_type %>
    <% # if required isn't specified assume as false %>
    <% required = false if local_assigns[:required].nil? %>

    <% # Variables for storing the ids for the field tags ie.. person_name/person_role_text/organisation_name/etc %>
    <% name_field_id = "#{name_type}_name" %>
    <% role_text_field_id = "#{name_type}_role_text" %>
    <% affiliation_field_id = "#{name_type}_affiliation" %>    

        <% # Get names and role_texts based upon the evaluated name_type %>
    <% names = eval("object.#{name_type}_name") %>
    <% role_texts = eval("object.#{name_type}_role_text") %>
    <% affiliations = eval("object.#{name_type}_affiliation") %>
    <% object_name = object.class.to_s.underscore %>

    <% # Set the label based on if * required %>
    <% label_id = name_field_id.to_sym %>
    <% label_text = required ? "#{t('simple_form.required.html')}&nbsp;#{label_id.to_s.humanize}".html_safe : label_id.to_s.humanize %>

    <%= label_tag label_id, label_text, :class => "control-label" %>
    <% if names.empty? %>
      <div id="fields" class="controls">      
        <%= text_field_tag "#{object_name}[#{name_field_id}][]", "" %>
        <%= select_tag "#{object_name}[#{role_text_field_id}][]", options_for_select([[""]]  + eval("object.#{name_type}_role_terms") ) %> 
      </div>
    <% else %>
      <% names.each_with_index do |name, i| %>
        <div id="fields" style="display:block;" class="controls" style="margin-bottom: 0.5em;">
          <span class="field" style="float:left;">
            <%= text_field_tag "#{object_name}[#{name_field_id}][]", name %>
          </span>
          <span class="field" style="float:left;">
            <% if eval("object.#{name_type}_role_terms").size == 1 %>
              <%= select_tag "#{object_name}[#{role_text_field_id}][]", options_for_select(eval("object.#{name_type}_role_terms"), role_texts[i] ) %>
            <% else %>
              <%= select_tag "#{object_name}[#{role_text_field_id}][]", options_for_select([[""]]  + eval("object.#{name_type}_role_terms"), role_texts[i] ) %>
            <% end %>
          </span>
          <span class="field" style="float: left;">
            <%# display drop down menu of JOURNAL-ARTICLE-AFFILIATION list, which is stored in DB properties table and can be edited in Hydra admin %>
            <%= select_tag "#{object_name}[#{affiliation_field_id}][]", options_for_select([[""]]  + @journal_article.person_affiliation_terms, affiliations[i] ) %>
           </span> 
            
          </style>
          <% unless i.zero? %>
            &nbsp;<span class="icon-minus-sign remove-field" style="cursor: pointer;"></span>
          <% end %>
          <div style="clear:both;"></div>
        </div>
      <% end %> 
    <% end %>
  </div>  
  <div class="add-field icon-plus-sign controls" style="cursor: pointer;"></div>
</div>